/* Write your CSS code here */
.forHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.about-i {
  height: 180px;
  width: 180px;
}
.heading1 {
  font-family: 'Roboto';
  color: #6d396b;
}
.aboutt {
  font-family: 'Roboto';
  color: #555555;
  font-weight: 500;
  font-size: 18px;
}
@media (min-width: 768px) {
  .about-i {
    height: 260px;
    width: 260px;
  }
  .heading1 {
    font-size: 40px;
  }
}
