/* Write your CSS code here */

.navv {
  padding: 27px;
}
.space-b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-name {
  display: flex;
}
.img1 {
  height: 35px;
  width: 35px;
  margin-right: 12px;
}
.para {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 16px;
}
.links {
  display: flex;
}
.para2 {
  font-family: 'Roboto';
  font-weight: 600;
  margin-right: 10px;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .img1 {
    height: 56px;
    width: 56px;
    margin-right: 18px;
    margin-top: 15px;
  }
  .para {
    font-size: 27px;
  }
  .para2 {
    font-size: 27px;
    margin-right: 18px;
    margin-top: 18px;
  }
}
